In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("../data/Data_Entry_2017.csv")

In [3]:
data.head()

,Image Index,Finding Labels,Follow-up #,Patient ID,Patient Age,Patient Gender,View Position,OriginalImage[Width,Height],OriginalImagePixelSpacing[x,y],Unnamed: 11
0,00000001_000.png,Cardiomegaly,0,1,058Y,M,PA,2682,2749,0.143,0.143,NaN
1,00000001_001.png,Cardiomegaly|Emphysema,1,1,058Y,M,PA,2894,2729,0.143,0.143,NaN
2,00000001_002.png,Cardiomegaly|Effusion,2,1,058Y,M,PA,2500,2048,0.168,0.168,NaN
3,00000002_000.png,No Finding,0,2,081Y,M,PA,2500,2048,0.171,0.171,NaN
4,00000003_000.png,Hernia,0,3,081Y,F,PA,2582,2991,0.143,0.143,NaN

In [4]:
data.columns = ['Image_Index', 'Finding_Labels', 'Follow_Up_#', 'Patient_ID', 'Patient_Age', 'Patient_Gender',
                'View_Position', 'Original_Image_Width', 'Original_Image_Height', 
                'Original_Image_Pixel_Spacing_X', 'Original_Image_Pixel_Spacing_Y', 'Unnamed']

In [5]:
# Check if number is in years, months, or days
data['Age_Measure'] = data['Patient_Age'].astype(str).str[3]

# Remove the character in Patient Age, and convert to integer
data['Patient_Age'] = data['Patient_Age'].map(lambda x: str(x)[:-1]).astype(int)

In [6]:
data.drop('Unnamed', axis=1, inplace=True)

In [7]:
data.head()

,Image_Index,Finding_Labels,Follow_Up_#,Patient_ID,Patient_Age,Patient_Gender,View_Position,Original_Image_Width,Original_Image_Height,Original_Image_Pixel_Spacing_X,Original_Image_Pixel_Spacing_Y,Age_Measure
0,00000001_000.png,Cardiomegaly,0,1,58,M,PA,2682,2749,0.143,0.143,Y
1,00000001_001.png,Cardiomegaly|Emphysema,1,1,58,M,PA,2894,2729,0.143,0.143,Y
2,00000001_002.png,Cardiomegaly|Effusion,2,1,58,M,PA,2500,2048,0.168,0.168,Y
3,00000002_000.png,No Finding,0,2,81,M,PA,2500,2048,0.171,0.171,Y
4,00000003_000.png,Hernia,0,3,81,F,PA,2582,2991,0.143,0.143,Y

In [8]:
data.Finding_Labels.value_counts().head(20)

No Finding                           60412
Infiltration                          9551
Atelectasis                           4212
Effusion                              3959
Nodule                                2706
Pneumothorax                          2199
Mass                                  2138
Effusion|Infiltration                 1602
Atelectasis|Infiltration              1356
Consolidation                         1314
Atelectasis|Effusion                  1167
Pleural_Thickening                    1127
Cardiomegaly                          1094
Emphysema                              895
Infiltration|Nodule                    829
Atelectasis|Effusion|Infiltration      740
Fibrosis                               727
Edema                                  634
Cardiomegaly|Effusion                  483
Consolidation|Infiltration             442
Name: Finding_Labels, dtype: int64

In [9]:
data[data['Patient_Age'] == 414]

,Image_Index,Finding_Labels,Follow_Up_#,Patient_ID,Patient_Age,Patient_Gender,View_Position,Original_Image_Width,Original_Image_Height,Original_Image_Pixel_Spacing_X,Original_Image_Pixel_Spacing_Y,Age_Measure
46965,00011973_002.png,Edema,2,11973,414,M,AP,3056,2544,0.139,0.139,Y

In [10]:
data.Finding_Labels.value_counts().head(20)

No Finding                           60412
Infiltration                          9551
Atelectasis                           4212
Effusion                              3959
Nodule                                2706
Pneumothorax                          2199
Mass                                  2138
Effusion|Infiltration                 1602
Atelectasis|Infiltration              1356
Consolidation                         1314
Atelectasis|Effusion                  1167
Pleural_Thickening                    1127
Cardiomegaly                          1094
Emphysema                              895
Infiltration|Nodule                    829
Atelectasis|Effusion|Infiltration      740
Fibrosis                               727
Edema                                  634
Cardiomegaly|Effusion                  483
Consolidation|Infiltration             442
Name: Finding_Labels, dtype: int64

In [11]:
data.drop(['Original_Image_Pixel_Spacing_X', 'Original_Image_Pixel_Spacing_Y'], axis = 1, inplace = True)

In [12]:
data.drop(['Original_Image_Width', 'Original_Image_Height'], axis = 1, inplace = True)
data.head()

,Image_Index,Finding_Labels,Follow_Up_#,Patient_ID,Patient_Age,Patient_Gender,View_Position,Age_Measure
0,00000001_000.png,Cardiomegaly,0,1,58,M,PA,Y
1,00000001_001.png,Cardiomegaly|Emphysema,1,1,58,M,PA,Y
2,00000001_002.png,Cardiomegaly|Effusion,2,1,58,M,PA,Y
3,00000002_000.png,No Finding,0,2,81,M,PA,Y
4,00000003_000.png,Hernia,0,3,81,F,PA,Y

In [14]:
total_visits = data.groupby('Patient_ID')['Image_Index'].count().reset_index()

In [20]:
total_visits.sort_values(by="Image_Index", ascending=False).head(10)

       Patient_ID  Image_Index
10006       10007          184
13669       13670          173
15529       15530          158
12833       12834          157
13992       13993          143
1835         1836          137
19123       19124          130
20212       20213          119
17137       17138          117
11236       11237          116